.header {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1rem; /* Reduce padding for smaller screens */
  font-size: 2rem; /* Slightly smaller font for better fit */
  font-family: 'Libre Baskerville', sans-serif;
  z-index: 1000;
}

 @media only screen and (max-width: 800px) {
  .header {
    font-size: 1.8rem; /* Further reduce font size for smaller devices */
    padding-right: 0.5rem; /* Adjust padding */
  }
}
