.header {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem; 
  font-size: 2rem; 
  font-family: "Libre Baskerville", sans-serif;
  z-index: 1000;
}

@media only screen and (max-width: 800px) {
  .header {
    font-size: 1.8rem;  
    padding-right: 0.5rem; 
  }
}
