.hover-container {
  text-align: left;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-line;
  cursor: pointer;
}

.hidden-section {
  display: none;
}

@media (hover: hover) {
  .hover-container:hover .hidden-section {
    display: block;
  }
}

.hover-container.active .hidden-section {
  display: block;
}
