.text-component-container {
  font-size: 1.2rem;
  text-align: left;
  margin: 20px auto;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}

.text-component-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.contact-details {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
