.text-component-container {
  text-align: left;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}

.text-component-container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.contact-details {
  display: block;
}
